/*	-------------------------------------
	:: Buttons
	---------------------------------- */
	button,
	[role="button"],
	.button {
		font-family: $button-font;
		text-decoration: none;
		font-weight: 700;
		display: inline-block;
		background: $blue;
		color: white;
		padding: 5px 11px;
		border-radius: 5px;
		font-size: 18px;
		transition: background-color 0.5s ease;

		&:hover {
			color: white;
			background: lighten($blue, 10%);
		}

		&:focus {
			color: white;
			background: lighten($blue, 10%);
		}
	}