---
title: Hrothmar.com
---

<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Hrothmar.com | About</title>
</head> 
<body> 
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <hr>
  </header> 
  <main> 
    {{ content | safe }}
  </main> 
  <footer>
    <hr>
    <p>Site Footer</p>
  </footer> 
</body> 
</html>