/*	-------------------------------------
	:: Home Page
	---------------------------------- */
	body.home {
		main {
			padding: 0;
		}

		h1, h2, h3, h4, h5, h6 {
			hyphens: initial;
		}
	}

	// Home Hero Section
	.home-hero {
		background-image: url('../images/patterns/pattern-geometry.png');
	}

	// Call to Action Section
	.home-cta {
		.content {
			padding: 80px 20px;
			display: flex;
			justify-content: center;
		}
	}

		.home-cta-description {
			max-width: 660px;
			text-align: center;
			& * {
				font-family: $secondary-font;
				line-height: 1.4;
			}
		}

	// Variety Spotlight
	.home-variety {
		background: $orange;
		overflow: hidden; // Prevents the "Octane" (car) from creating a scrollbar

		.content {
			max-width: 1100px;
			padding: 50px 20px 60px;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 20px;
		}
	}
		.variety-description {
			h3, .home-variety-callout {
				font-weight: 700;
			}

			.home-variety-callout {
				font-weight: 100;
				font-size: 40px;
				line-height: 1.2;
				margin-bottom: 40px;
			}

			p {
				margin-bottom: 10px;
			}

			a {
				text-decoration-color: white;
			}

			* {
				color: white;
				font-family: $secondary-font;
				line-height: 1.4;
			}
		}

		.variety-imagery {
			position: relative; // holds Absolute `::before` in place
			padding-top: 50px;

			&::before {
				content: "";
				display: block;
				width: 283px;
				height: 141px;
				background: url(../images/home-octane.png);
				position: absolute;
				top: -40px;
				right: -46px;
				transform: scale(0.8);
			}
		}
			// Ensures the Octane doesn't display above the image
			.variety-top-image {
				position: relative;
				z-index: 2;
			}

			.variety-top-image,
			.variety-bottom-image {
				display: flex;
				justify-content: center;
			}


	// Recent Guides
	.home-recent-guides {

		.content {
			padding: 50px 30px;
		}
		.archive-grid {
			margin-bottom: 0;
		}
	}



	// Tablet+ Devices
	@include min-width(768px) {
		.home-variety {
			.content {
				grid-template-columns: 1fr 1fr;
				grid-gap: 50px;
				align-items: center;
			}
		}

		.home-variety {
			.content {
				padding: 120px 20px 100px;
			}
		}

		.variety-imagery {
			padding-top: 0;

			&::before {
				top: -93px;
				right: -46px;
			}
		}
	}

	@include min-width(900px) {

		.variety-imagery {
			&::before {
				top: -73px;
				right: -136px;
				transform: scale(1);
			}
		}
	}